:root {
  /*Fonts*/
  --fontFamilyN: Newsreader;
  --fontFamilyK: Kanit;
  --fontFamilyM: Mulish;
  --fontSizeLinks: 2.4rem;
  --fontBold: bold;


  /*Colors*/
  --bluePrimary: #2937f0;
}

* {
  margin: 0;
  padding: 0;
}


html {
font-size: 10px;
}

header {
  z-index: 0;
}

h1 {
  font-size: 11rem;
  font-family: var(--fontFamilyN);
}

h2 {
  font-size: 4rem;
  font-family: var(--fontFamilyK);
}

a {
  color: black;
  text-decoration: none;
  font-family: var(--fontFamilyK);
}

a:hover {
  color: var(--bluePrimary);
}

p {
  font-family: var(--fontFamilyK);
  font-size: 2.4rem;
}

.containerFlexColumn {
  display: flex;
  flex-direction: column;
}

.containerFlexRow {
  display: flex;
  flex-direction: row;
}

button {
  font-family: var(--fontFamilyK);
  font-size: var(--fontSizeLinks);
  font-weight: normal;
}


/*NavBar*/
nav {
  padding: 2rem 0 2rem 0;
  font-family: var(--fontFamilyK);
  border-bottom: solid 0.1rem #EAEBEC;
  position: fixed;
  width: 100%;
  max-width: 192rem;
  height: 5.6rem;
  top: 0;
  left: 0;
  justify-content: space-between;
  background-color: white;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  width: 50%;
  font-family: var(--fontFamilyK);
  margin-left: 8%;
}

.navActions {
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-right: 8%;
}

.navLinks {
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  width: 67%;
  font-size: var(--fontSizeLinks);
}

.feedbackButton {
  width: 22rem;
  height: 4rem;
  color: white;
  font-size: var(--fontSizeLinks);
  background-color: var(--bluePrimary);
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  border: 0;
  border-radius: 3rem;
  align-items: center;
  justify-content: center;
}

.feedbackButton:hover {
  color: white;
  background-color: #5660ec;
}

.divFeedbackButton {
  align-items : center;
}



.messageIcon {
  font-size: 2.2rem;
  margin-right: 1rem;
}

/* Home Section */
.homeSection {
  position: absolute;
  padding-top: 8.9rem;
  z-index: -1;
  width: 100%;
  max-width: 192rem;
  height: calc(100vh - 8.9rem);
  max-height: 100rem;

}


.divTextHomeSection {
  padding-left: 6%;
  align-items: center;
  margin: auto 0 auto 0;
  width: 50%;
}

.classTextLines {
  word-break: break-word;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
  width: 95%;
}

.textDescriptionHomeSection {
  font-size: 3rem;
  margin-top: 2rem;
  color: #6C757D;
}

.divPhoneHomeSection {
  padding-right: 6%;
  width: 50%;
  justify-content: center;
  z-index: -3;
}

.divImageHomeSection {
  width: 60rem;
  height: 100%;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgPhone {
  width: 40rem;
  height: auto;
  left: auto;
  z-index: 0;
  position: absolute;
}

.circlePhone {
  width: 60rem;
  height: 60rem;
  border-radius: 100%;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to bottom right, var(--bluePrimary), #9F1AE2);
}

.point {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  margin-top: 15rem;
  background-color: var(--bluePrimary);
}

.divXIconHomeSexction {
  padding-bottom: auto;
  padding-top: 70rem;
}

.xIcon {
  font-size: 3rem;
  color: var(--bluePrimary);
  transform: rotate(-20deg);
}

.phoneVideo {
  width: 39rem;
  height: 78rem;
  border-radius: 6rem;
}

/* Note Section */
.noteSection {
  position: absolute;
  top: 100vh;
  width: 100%;
  max-width: 192rem;
  height: 100vh;
  max-height: 100rem;
  background-image: url(./images/Notes.jpg);
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  background-size:cover;
  z-index: -1;
}

.divNoteSection {
  padding-left: 10%;
}

.noteSectionTextLines {
  color: white;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
  width: 70%;
  padding-top: 15%;
 
  margin-bottom: 10rem;
}

.programateButton {
  width: auto;
  height: auto;
  color: white;
  background-image: unset;
  padding: 2rem;
  border: 0;
  border-radius: 4rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0.2rem solid white;
  font-size: var(--fontSizeLinks);
}

.programateButton:hover {
  color: white;
  background-color: black;
}

/* Learn Section */
.learnSection {
  position: absolute;
  top:200vh;
  width:100%;
  max-width: 192rem;
  height: calc(100vh - 8.9rem);
  max-height: 100rem;
  padding: 0 0 10% 0;
  z-index: -1;
  align-content: center;

}


.divPhoneLearnSection {
  width: 35%;
  align-items: center;
  justify-content: center;
  z-index: -3;
  padding-top: 17.8rem;
  padding-left: 10%;
}

.divImageLearnSection {
  width: 50rem;
  height: 100%;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content:center;
}

.pointLearnSection {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  margin-top: 65rem;
  background-color: var(--bluePrimary);
}


.circlePhoneLearnSection {
  width: 40rem;
  height: 40rem;
  border-radius: 100%;
  z-index: -1;
  position: absolute;
  left: 15rem;
  background-image: linear-gradient(to bottom, var(--bluePrimary), #9F1AE2);
}

.divXIcon {
 height: 100%;
  top: 0;

}

.xIcon {
  font-size: 3rem;
  color: var(--bluePrimary);
  transform: rotate(-20deg);
}

.divTextLearnSection {
  width: 65%;
  height: 100%;
  padding-right: 10%;
  padding-top: calc(8.9rem + 4rem);
  justify-content: space-between;
}

.divsRowIcons {
  width: 100%;
  justify-content: space-around;
}

.divsIconText {
  align-items: center;
  width: 40%;
  text-align: center;
}

.learnSectionIcons {
  font-size: 7rem;
  background: -webkit-linear-gradient(var(--bluePrimary), #9F1AE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 4rem;
}

/* Footer Section */
footer {
  position: absolute;
  top: calc(300vh + 8.9rem);
  height: auto;
  width: 100%;
  max-width: 192rem;
  background-color: black;
  color: #7C7C7C;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.textFooter {
  font-size: 2rem;
}

.ulFooter {
  width: 37rem;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 2rem;
  font-family: var(--fontFamilyM);
}

.liTerminos {
  list-style: none;
}